<script>
	dataLayer = [{
		'userEmail': '{{ user_email }}'
	}];
</script>
<noscript>
	<iframe src="//www.googletagmanager.com/ns.html?id=GTM-MLRXRS" height="0" width="0"
	        style="display:none;visibility:hidden"></iframe>
</noscript>
<script>(function (w, d, s, l, i) {
		w[l] = w[l] || [];
		w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
		var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
		j.async = true;
		j.src =
				'//www.googletagmanager.com/gtm.js?id=' + i + dl;
		f.parentNode.insertBefore(j, f);
	})(window, document, 'script', 'dataLayer', 'GTM-MLRXRS');</script>
<div class="top container">
	<div id="nav" class="row">
		<div class="span4 search">
			<form class="form-search" method="GET">
			<input type="text" class="search-query" name="search" placeholder="Search conversations">
			</form>
		</div>
		{#<div class="span2 offset3">#}
			{#<form action="MAILTO:front.office@docplanner.com" method="post" enctype="text/plain">#}
				{#<button class="btn btn-primary btn-round" type="submit">Compose</button>#}
			{#</form>#}
		{#</div>#}
		<div class="span3 offset5 avatar">
			<img class="user-image circular" src="{{ gravatar.get(user_email)|raw }}" class="img-circle">
			<div id="user-menu" class="btn-group">

				<a class="dropdown-toggle muted" role="button" data-toggle="dropdown" href="#">
					<span class="name">{{ display_name }}<b class="caret"></b></span>
				</a>
				<ul class="dropdown-menu" role="menu">
					<li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">Log out</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>