<div class="top container">
	<div id="nav" class="row">
		<div class="span4 search">
			<form class="form-search" method="GET">
			<input type="text" class="search-query" name="search" placeholder="Search conversations">
			</form>
		</div>
		{#<div class="span2 offset3">#}
			{#<form action="MAILTO:front.office@docplanner.com" method="post" enctype="text/plain">#}
				{#<button class="btn btn-primary btn-round" type="submit">Compose</button>#}
			{#</form>#}
		{#</div>#}
		<div class="span3 offset5 avatar">
			<img class="user-image circular" src="{{ gravatar.get(user_email)|raw }}" class="img-circle">
			<div id="user-menu" class="btn-group">

				<a class="dropdown-toggle muted" role="button" data-toggle="dropdown" href="#">
					<span class="name">{{ display_name }}<b class="caret"></b></span>
				</a>
				<ul class="dropdown-menu" role="menu">
					<li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">Log out</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>